# Logs y archivos de depuración
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Directorios de dependencias y construcción
node_modules/
dist/
dist-ssr/

# Archivos de configuración local (variables de entorno, etc.)
.env
*.local

# Archivos y directorios de editores/IDEs
.vscode/
!.vscode/extensions.json # Mantener este archivo para compartir recomendaciones de extensiones VS Code
.idea/ # Ignorar la carpeta .idea para IntelliJ IDEA / WebStorm
.DS_Store # Archivos de metadatos de macOS
*.sw? # Archivos swap de Vim

# Si usas Expo
.expo/

# Si tu proyecto usa archivos de bloqueo específicos para Bun y pnpm
bun.lockb
pnpm-lock.yaml

# Patrones adicionales que quizás no necesites para un proyecto de JS/TS,
# pero no hacen daño si están ahí (más comunes en proyectos .NET/Visual Studio)
# *.suo
# *.ntvs*
# *.njsproj
# *.sln